---
title: 说话练习够不够？
date: 2024-01-31
desc: 我感觉不够，没有很多机会能用。
slug: 2024-01-31_cn
lang: cn
tags:
  - 说话
---

我要想办法跟我的中国来的同事说多一点，聊天，什么都好 - 就必须打开我的嘴巴！

每次跟我自己说，“别那么害怕！ 搞错了无所谓！”。
说错就是一个学得机会。

也需我应该还学说的话先，然后写和读。我不确定这能解我的问题。

唉，在迟点时间看看怎么样吧。


## 新的词
- 确定 (quèdìng)
- 无所谓
