---
title: 我母亲的房子历史
date: 2024-01-28
desc: 我今天得知了一个很有趣的实关于我母亲的房子
slug: 2024-01-28_cn
lang: cn
tags:
  - 历史
---

有一个老邻居跟她说，原来是一个第二次大战老兵的拥有这个房子.
第一个拥有的。 都快八十年前。真难以置信!

我被它惊喜。
他是叫“David"，但是我不知道他的姓名。我必须要找到！


## 新的词
- 拥有
- 有趣
- 难以置信
