---
title: 自由泳
date: 2024-01-28
desc: 今天我游泳了, 感觉很棒！
slug: 2024-01-28_cn
lang: cn
tags:
  - 游泳
  - 自由泳
---

自由泳是比较最快的样式，但不是简单的。
那儿个样式是很重要的，所以我希望能提高。
孰能生巧。

我需要多游泳在我的公寓。
在我累之前，应该能游一百到一百五十米。

太断了。不够好。

## 新的词
- 自由泳
- 棒
- 孰能生巧 (shúnéngshēngqiǎo)
