---
title: 没加糖茶
date: 2024-02-01
desc: 我喝时候，我就被它很幸福
slug: 2024-02-01_cn
lang: cn
tags:
  - 茶
---

在我的公司, 他们有很多小吃的和饮料给我们。

有一个特别的饮料，就是这个：

<img src="https://i.imgur.com/JXWJE4H.jpg" alt="Oi Ocha" style="max-height:500px" />

哇！ 太棒了！

我喝这儿饮料时候，感觉非常喜悦。
不甜。没有糖，但是味道真深。

而且为了健康。

快多给我！！ 🤤


## 新的词
- 哇
- 太棒了
- 喜悦
