---
title: 流浪汉
date: 2024-02-05
desc: 真正的日本漫画
slug: 2024-02-05_cn
lang: cn
tags:
  - 漫画

---

昨天我买了一些二手漫画本。

从一个很古雅的小店隐藏在一个小安静购物区。

<img src="https://i.imgur.com/OeBE1NL.jpg" alt="漫画本" style="max-height:500px" />

质量又好，价钱又便宜！

太幸福了！

## 新的词
- 流浪汉
- 漫画
- 古雅
- 购物区
- 隐藏
