---
title: 终于恢复弹钢琴
date: 2024-01-27
desc: 唉，都快忘了怎么弹
slug: 2024-01-27_cn
lang: cn
tags:
  - 钢琴
---

可能都三四个月没有弹。
今天晚上，没事干。学中文学累了我打开我的钢琴书。
害怕我忘了怎么弹，我立刻跳到钢琴前面，然后弹了一下。

真的要放很大的努力读乐谱和按对的钢琴键。

我需要弹多点。太长时间就很容易忘记了。

## 新的词
- 弹
- 钢琴
- 键
- 恢复
