---
title: Ungesüßlich grüne Tee
date: 2024-02-01
desc: Ich trinke es gerne, und es freue mich sehr
slug: 2024-02-01_de
lang: de
tags:
  - Tee
---

Im Büro der Firma, dabei ich arbeite, es gibt viele Getränken und Snacks für uns.
Einer von diesen Getränken ist dieser "Bad Boy":

<img src="https://i.imgur.com/JXWJE4H.jpg" alt="Oi Ocha" style="max-height:500px" />

Toll! Krass! Guile!

Während ich trinke es, das Gefühl gibt mir ganzen Freude.
Es ist nicht süß. Kein Zucker, aber der Geschmack ist sehr tief.

Gesund wird es du ebenfalls!

Gib mir mehr!!! 🤤

## Neues Wörter

- Un + gesüß + lich
- Während
- tief
