---
title: 找到好看的系列
date: 2024-02-02
desc: 用字幕
slug: 2024-02-02_cn
lang: cn
tags:
  - 系列

---

我现在在看，Netflix 的 “Arcane"
我已经看过了，但是现在我换成中文音频和中文字幕。
能听起来大概百分之六十。有时候我一点都听不懂。

确实我要更努力学！

## 新的词
- 字幕
- 系列
- 音频
