---
title: Ich hatte vielleicht zu viel anruhen
date: 2024-02-12
desc: zu viel schreibaufgaben
slug: 2024-02-12_de
lang: de
tags:
  - Anruhen
---

Für drei tage, habe ich kein geschreibt.
Nicht weil ich es vergessen haben, sondern zu faule.

Ich bin unsicher wenn ich kann mehr schreiben jeden Tag.
Zu viel und ich glaube mein Gehirn wird explodieren...

## Neues Wörter
- faule
- Gehirn (n)
