---
title: Kein Ding
date: 2024-02-08
desc: Ich habe kein Ding gesagt
slug: 2024-02-08_de
lang: de
---

Ich werde nun anruhen, so es werd heute kurz.

Nur, ich ändern etwas klein in meiner Seite, zu erlaubt es nicht "Tag" mussen für meinen posts.

## Neues Wörter
