---
title: 最后天
date: 2024-02-04
desc: 今天是最后的天 “Powerhouse museum” 开门
slug: 2024-02-04_cn
lang: cn
tags:
  - 博物馆

---

这个博物馆在澳洲很有名。有很多东西能看见。
非常多的展示人们会天梭像艺术和学点历史。。。

<img src="https://imgur.com/04Gh9jX.jpg" alt="old australian art" style="max-height:500px" />

这次我感觉挺有意思，比小时候来多。

我最喜欢的展示是可能他们的蒸汽机。让我们知没有点是真么样。

两白年, 澳洲换了特别多。

我觉得很难以置信。。。🫨

<img src="https://imgur.com/x0che9n.jpg" alt="1800s australia" style="max-height:500px" />

明天这展示就要关门三年。因为需要翻新。
三天太长！


## 新的词
- 澳洲
- 展示
- 天梭
- 蒸汽机
